/*
注意事项（重要）：移除 outline 会影响键盘无障碍性（比如用 Tab 键切换焦点时用户看不到当前焦点在哪）。

推荐做法是：先移除 outline，然后用其他方式（如 box-shadow）提供焦点提示
*/

/* :focus 输入框获取焦点时 */
input:focus {
    outline: none; /* 移除元素获得焦点边框 */
    box-shadow: 0 0 5px #4CAF50;

    /* 更多样式自己自定义 */
}